body {
    padding: 10px;
}

.listings {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}
.listing {
    justify-content:space-evenly;
}

.closed {
    /* width: 400px;
    position: absolute;
    left: 395px;
    background-color: grey; */
    /* z-index: 1; */

}