body {
    padding: 10px;
}

.listings {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: .4rem;
}
.listing {
    justify-content:space-evenly;
}

.anchor:hover {
    color:rgb(100, 95, 95);
    text-decoration: none;
    padding: .02px;
}
.anchor2:hover {
    color:rgb(100, 95, 95);
    text-decoration: none;
}

.img:hover {
    padding:1px;
}